

.App {
    /* background-color: #24292e; */
    height: 100%;
    font-family: 'Raleway';
}
.App-header {
    background-color: white;
    min-height: 10vh;
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(0, 0, 0,0.9);
    font-size: calc(10px + 2vmin);
    color: black;
  }

  .content {
    margin: 20px 20px;
    
  }

  .container-background {
    background: linear-gradient(45deg, 
        BLACK 0%,   /* Start with color 1 at 0% */
        #7BC9FF 100%  /* Transition to color 2 at 50% */
          /* End with color 3 at 100% */
    );
    padding: 5px 5px;
    border-radius: 12px;
  }

  .glass-container {
    background: rgba(0, 0, 0, 0.28); 
  /* box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.30);  */
  /* border-radius: 40px;  */
  backdrop-filter: blur(4px);
    display: flex;
    /* flex-direction: column; */
    padding: 16px 10px;
    border-radius: 12px;
    /* align-items: center; */
    /* justify-content: center; */
    max-width: 100% !important;
    font-size: calc(10px + 2vmin);
    color: white;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0  .2);
  }

  .title {
    font-size: 24px;
    align-items: center;
    align-content: center;
    font-weight: bold;
  }

  .upload-btn-primary {
    background-color: #C73659 !important;
    border-color: #C73659 !important;
    color: white !important;
  }

  .run-btn-primary {
    background-color: #B4B4B4 !important;
    border-color:#B4B4B4 !important;
    color: white !important;
  }

  .run-btn-primary:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    background-color: #2ecc71 !important;
    border-color:#2ecc71 !important;

  }

  .upload-btn-primary:hover{
    background-color: #A91D3A !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
  }
  /* Ensure the parent containers and rows can stretch to full height */
.homepage {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content-row {
    /* height: calc(100vh - 28vh); */
     /* Subtract the height of the Header if necessary */
}

.uploader-container {
    /* height: 20vh; */
}

.options-container {
    /* display: flex;
    flex-direction: column; */
    background: rgb(0, 0, 0, 0.9); 
    /* box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.30);  */
    /* border-radius: 40px;  */
    backdrop-filter: blur(4px);
      display: flex;
      /* flex-direction: column; */
      padding: 16px 10px;
      border-radius: 12px;
      /* align-items: center; */
      /* justify-content: center; */
      max-width: 100% !important;
      font-size: calc(10px + 2vmin);
      color: white;
       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.player-container {
    height: 23.75%;
    /* display: flow-root !important; */
}

.breakdown-container {
    height: 100%;
    /* background: grey;  */
    border: 2px solid black;
    margin-bottom: 20px;
    /* box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.30);  */
    /* border-radius: 40px;  */
    backdrop-filter: blur(4px);
      display: flex;
      /* flex-direction: column; */
      padding: 20px 25px;
      border-radius: 12px;
      /* align-items: center; */
      /* justify-content: center; */
      max-width: 100% !important;
      font-size: calc(10px + 2vmin);
      color: black;
       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-container {
    height: 100%;
}

/* Options styles */

.scrollable-list {
    /* max-height: 300px;  */
    /* Adjust height as needed */
    overflow-y: auto;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    padding: 10px;
}

.checkbox-item {
    margin-bottom: 10px;
}

.checkbox-item label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

.checkbox-item input[type="checkbox"] {
    margin-right: 10px; /* Adds space between the checkbox and the label text */
    height: 18px;
    width: 18px;    
    accent-color: #2ecc71;
    
}

.option-text {
    /* font-weight: bold; */
    font-size: 24px;
    color: white;
    align-items: center;
}

.option-subtext {
    font-size: 16px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 27px;
}

/* Uploader styles */
.uploader-input {
    /* display: flex; */
    width: 100%;
    align-items: center;
}

.input-group {
    width: 100% !important; 
    margin-right: 2%;
}

.or-divider {
    margin-right: 2%;
    margin-top: 8px;
}

.upload-button {
    margin-right: 2%;
    white-space: nowrap;
}

.uploaded-file-name {
    flex-grow: 1;
    margin-right: 2%;
    align-content: center;
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Handle long file names gracefully */
    font-size: 16px;
    text-align: left;
}

.run-button {
    margin-left: auto; /* Push to the extreme right */
}



/* Player styles */

.rhap_container {
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-family: inherit;
    width: 100%;
    height: 100%;
    padding: 10px 15px; 
    background-color: transparent !important;
    box-shadow: 0 0px 0px transparent !important;
}

.rhap_progress-filled {
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: #B8030A !important;
    border-radius: 2px;
}

.rhap_progress-indicator {
    box-sizing: border-box;
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    top: -8px;
    background: white !important;
    border-radius: 50px;
    box-shadow: rgba(134, 134, 134, 0.5) 0 0 5px;
}

.rhap_main-controls-button {
    margin: 0 3px;
    color: white !important;
    font-size: 35px;
    width: 35px;
    height: 35px;
}

.rhap_volume-button {
    flex: 0 0 26px;
    font-size: 26px;
    width: 26px;
    height: 26px;
    color: white !important;
    margin-right: 6px;
}

.rhap_volume-bar {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 4px;
    background: #B8030A !important;
    border-radius: 2px;
}

.rhap_volume-indicator {
    box-sizing: border-box;
    position: absolute;
    width: 12px;
    height: 12px;
    margin-left: -6px;
    left: 0;
    top: -4px;
    background: white !important;
    opacity: 0.9;
    border-radius: 50px;
    box-shadow: rgba(134, 134, 134, 0.5) 0 0 3px;
    cursor: pointer;
}

.rhap_time {
    color: white !important;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
}

.rhap_repeat-button {
    display: none !important;
}

/* Breakdown styles */


.output-text {
    text-align: left;
    font-size: 18px;
}
.nav-tabs {
    border-bottom: 3px solid grey;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
    color: grey;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    cursor: pointer;
    color: grey;
}

.nav-tabs .nav-link:hover {
    color: #B8030A;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    border: 1px solid transparent !important;
}

.nav-tabs .nav-link.active {
    color: #495057;
    background-color: transparent !important;
    border: 1px solid transparent !important;
    border-bottom: 5px solid black !important;
}

.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: block;
}



/* Transcript styles */

.transcript-content {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    /* padding: 1rem; */
    padding-left: 10px;
    text-align: left;
}

.transcript-content p {
    margin: 0.5rem 0;
}

.transcript-content strong {
    color: #000;
    margin-top: 2rem;
}

.speech-rate-details {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

.speech-rate-details em {
   
    font-style: normal;
    font-weight: bold;
    color: #000;
}

.speaker-title{
    font-size: 1rem;
    font-weight: 800;
    text-align: left;
    color: black;
}

/* Sentiment styles */

.sentiment-content {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    padding: 1rem;
    text-align: left;
}

.sentiment-content p {
    margin: 0.5rem 0;
}

.sentiment-content strong {
    color: #000;
}

.sentiment-details {
    font-size: 1rem;
    margin-top: 0.5rem;
    text-align: left;
}

.sentiment-details em {

    font-style: normal;
    font-weight: bold;
    color: #000;
}


.accordion-item {
    color: var(--bs-accordion-color);
    background-color: none !important;
    border: none !important;
    /* border-left: 1px solid red; */
}

.border-left-red {
    border-left: 1px solid red !important;
    box-shadow: -5px 0px 7px -5px rgba(211, 40, 40, 0.678);
}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    font-weight:800;
    background-color: transparent !important;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none !important;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) 10px;
    font-size: 1rem;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: var(--bs-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
}

.accordion-body {
    padding: 5px var(--bs-accordion-body-padding-x);
}

.accordion-header {
    padding-left: 10px;
}
.accordion-item:first-of-type>.accordion-header .accordion-button {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}